# Database
sqlalchemy
alembic

# API & HTTP
requests
python-amazon-paapi

# Data validation
pydantic

# Google API (YouTube upload)
google-auth
google-auth-oauthlib
google-api-python-client

# Task scheduling (optional cho auto upload)
apscheduler

# Utils
python-dotenv
loguru
